$section-primary-shadow: #e4e4e4;
$section-secondary-color: #dbdbdb;
$section-secondary-shadow: #b4b4b4;

.section-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: $section-secondary-color;

  @media screen and (max-width: 720px) {
    flex-direction: column;
    height: 850px;
  }

  @media screen and (max-width: 1280px) {
    height: 880px;
  }
}

.section-one-info {
  padding: 2rem;
  max-width: 950px;
  color: #444444;
}

.section-one-info-text {
  padding-top: 1rem;
  font-size: large;
  line-height: 2rem;
  text-align: justify;
}

@mixin section-layout($bg-color, $direction) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 0;
  background-color: $bg-color;

  @media screen and (max-width: 360px) {
    flex-direction: $direction;
  }

  @media screen and (max-width: 720px) {
    flex-direction: $direction;
  }
}

@mixin section-info-card(
  $shadow-color,
  $y-offset,
  $blur,
  $transition-enabled: false
) {
  border-radius: 0.75rem;
  padding: 1rem;
  margin: 1rem;
  text-align: justify;
  max-width: 500px;
  background-color: #ffffff;
  box-shadow: 0 $y-offset + rem $blur + rem $shadow-color;
  @if $transition-enabled {
    transition: box-shadow 0.3s ease-in-out;
  }
}

.section-two {
  @include section-layout(#ffffff, column);
}

.section-two-info-card {
  @include section-info-card(
    $section-primary-shadow,
    1,
    1,
    $transition-enabled: true
  );
}

.section-two-info-card:hover {
  @include section-info-card(
    $section-primary-shadow,
    0.5,
    0.5,
    $transition-enabled: false
  );
}

.section-three {
  @include section-layout($section-secondary-color, column-reverse);
}

.section-three-info-card {
  @include section-info-card(
    $section-secondary-shadow,
    1,
    1,
    $transition-enabled: true
  );
}

.section-three-info-card:hover {
  @include section-info-card(
    $section-secondary-shadow,
    0.5,
    0.5,
    $transition-enabled: false
  );
}

.section-four {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  height: 50vh;
}

.section-four-links {
  display: flex;
  margin: 2rem;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 360px) {
    flex-direction: column;
    height: 250px;
  }

  @media screen and (max-width: 720px) {
    flex-direction: column;
  }
}

.section-four-link {
  margin: 1rem;
}

.image-sequence {
  @media screen and (max-width: 1920px) {
    width: 400px;
  }

  @media screen and (max-width: 720px) {
    width: 180px;
  }

  @media screen and (max-width: 320px) {
    width: 120px;
  }

  margin: 2rem;
  box-shadow: 0 0.5rem 0.5rem #111111;
}
