.section-one-four {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.section-two-three {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  margin: 2rem 0;
}

.section-two-three-text {
  padding: 1.5rem;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-two-three-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #333333;
}

.link:hover {
  color: #555555;
}

.info-one-four {
  line-height: 2rem;
  max-width: 750px;
  text-align: center;
}
