.header {
  background-color: #ffffff;
  padding: 1rem 5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  z-index: 1;
  box-shadow: 0rem 0.2rem 1rem #b4b4b4;

  @media screen and (max-width: 640px) {
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
  }
}

.title {
  color: #444444;
  text-decoration: none;
}

.download-text {
  color: #444444;
  text-decoration: none;
  transition: color 0.3s;
  // @media screen and (max-width: 640px) {
  //   opacity: 0;
  // }
}

.download-text:hover {
  color: #6e6e6e;
  text-decoration: none;
}
