.header {
  background-color: #ffffff;
  padding: 1rem 5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  z-index: 1;
  box-shadow: 0rem 0.2rem 1rem #b4b4b4;
}

.title {
  color: #444444;
  text-decoration: none;
}

.download-text {
  color: #444444;
  text-decoration: none;
  transition: color 0.3s;
}

.download-text:hover {
  color: #6e6e6e;
  text-decoration: none;
}
